.DayPicker {
    background-color: $dark-blue !important;
}

.DayPicker-wrapper {
    font-size: 2rem !important;
    background-color: $blue !important;
    color: $off-white !important;
}

.DayPicker-Caption{
    color: white;
}

.DayPicker-Day {
    outline: none;
}

.DayPicker-Day--green {
    background-color: #2c5639;
}

.DayPicker-Day--orange {
    background-color: #5d5532;
}

.DayPicker-Day--red {
    background-color: #562c2c;
}

.DayPicker-Day--today {
    color: white !important;
}

.DayPicker-Day--selected {
    background-color: $off-black !important;
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: $light-blue !important;
  color: $off-white !important;
}

.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: $light-blue !important;
    color: $off-white;
  }

.DayPicker-Day--outside {
    background-color: $blue !important;
}

.Selectable .DayPicker-Day--outside {
    background-color: $blue !important;
}

.Selectable .DayPicker-Day {
    border-radius: 0 !important;
}
.Selectable .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}
.Selectable .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}