.DayPicker {
    background-color: $dark-blue !important;
}

.DayPicker-wrapper {
    font-size: 2rem !important;
    background-color: $blue !important;
    color: $off-white !important;
}

.DayPicker-Caption{
    color: white;
}

.DayPicker-Day {
    outline: none;
}

// START of green
.DayPicker-Day--green {
    background-color: $green;
}
.DayPicker-Day--greenMiddle {
    @extend .DayPicker-Day--green;
    border-radius: 0 !important;
}
.DayPicker-Day--greenStart {
    @extend .DayPicker-Day--greenMiddle;
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}
.DayPicker-Day--greenEnd {
    @extend .DayPicker-Day--greenMiddle;
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}
// END of green

// START of orange
.DayPicker-Day--orange {
    background-color: $orange;
}
.DayPicker-Day--orangeMiddle {
    @extend .DayPicker-Day--orange;
    border-radius: 0 !important;
}
.DayPicker-Day--orangeStart {
    @extend .DayPicker-Day--orangeMiddle;
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}
.DayPicker-Day--orangeEnd {
    @extend .DayPicker-Day--orangeMiddle;
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}
//END of orange

// START of red
.DayPicker-Day--red {
    background-color: $red;
}
.DayPicker-Day--redMiddle{
    @extend .DayPicker-Day--red;
    border-radius: 0 !important;
}
.DayPicker-Day--redStart {
    @extend .DayPicker-Day--redMiddle;
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}
.DayPicker-Day--redEnd {
    @extend .DayPicker-Day--redMiddle;
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}
//END of red

.DayPicker-Day--today {
    color: white !important;
}

.DayPicker-Day--selected {
    background-color: $off-black !important;
}

// START of 'Today' button
.DayPicker-Footer {
    padding-top: 0 !important;
    text-align: center;
}

.DayPicker-TodayButton {
    color: white !important;
}
// END of 'Today' button

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: $light-blue !important;
  color: $off-white !important;
}

.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: $light-blue !important;
    color: $off-white;
  }

.DayPicker-Day--outside {
    background-color: $blue !important;
}

.Selectable .DayPicker-Day--outside {
    background-color: $blue !important;
}

.Selectable .DayPicker-Day {
    border-radius: 0 !important;
}
.Selectable .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}
.Selectable .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}