.habit {
    justify-content: space-between;
    border-bottom: 1px solid lighten($light-blue, 10%);
    display: flex;
    padding: $s-size;
    line-height: normal;
    a {
        text-decoration: none;
    }
}

.habit__title {
    @extend .habit;
    background-color: $purple;
}

.habit__last {
    @extend .habit;
    border: none;
}

.habit__text {
    color: white;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    word-break: break-all;
    padding-left: $m-size;
    padding-right: $l-size;
}

.habit__subtext {
    color: $off-white;
    font-weight: 300;
    font-size: 1.2rem;
    padding-left: $m-size;
}

.habit__right {
    padding-right: $m-size;
    .button--link {
        align-items: center;
        height: 100%;
    }
}

.habit-input {
    background: $dark-blue;
    border: none;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    color: $off-white;
    margin-left: $m-size;
    padding: $s-size;
}

.DayPickerInput {
    input {
        @extend .habit-input;
    }
}

.habit-ordering {
    line-height: normal;
    text-align: left;
}