.half-check {
    color: $light-blue;
    cursor: pointer;
    margin:0;
    padding-top: 10px;
    user-select: none;
}
.half-check:hover {
    color: $off-black;
}

.half-check__checked {
    @extend .half-check;
    color: $off-white;
}
.half-check__checked:hover {
    color: $off-white;
}