.header {
    background: $off-black;
    padding: $s-size 0;

    margin-bottom: $m-size;
    @media(min-width: $desktop-breakpoint) {
        margin-bottom: $xl-size;
    }
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__title {
    color: white;
    text-decoration: none;
    padding-right: $l-size;
    h1 {
        margin: 0;
    }
    h3 {
        margin: 0;
    }
}

.header-title-container {
    display: flex;
    align-items: center;
}

.header__button {
    background: none;
    border: none;
    color: $off-white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}