.summary-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    div {
        padding: $s-size $l-size $s-size $l-size;
    }
    a {
        display: block;
        cursor: pointer;
    }
}   

.summary-navigation-button {
    background: none;
    border: none;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    padding: 0;
    margin: 0;
    line-height: 1;
    text-decoration: none;
    outline: none;
}