.summary-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    div {
        padding: 0 $m-size 0 $m-size;
    }
    a {
        display: block;
        cursor: pointer;
    }
}   