// Colors
$blue: #3c4251;
$off-black: #20222b;
$off-white: #a5afd6;
$dark-blue: #333745;
$light-blue: #464b5e;
$purple: #8357C5;
// [old]
$dark-grey: #333;
$grey: #666;


// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;